#banner {
	width: 100vw;
	background-image: url(Images/guitars.jpg);
	background-size: cover;
	background-position: center;
	padding: 500px 0;
	text-align: center;
}

h1 {

	color: white;
	text-align: center;
	font-size: 55px;
	font-family: chivo;
	padding-top : 30vh;
	margin : 0;
}

#main-subtitle {
	color: white;
	text-align: center;
	opacity: 0.9;
	font-family: Overpass;
	font-size: 25px;
}

#blue-button {
	text-decoration: none;
	color: white;
	text-align: center;
	font-family: Overpass;
	font-size: 20px;
	background-color: #0D1EC6;
	padding: 15px 45px;
	position: relative;
	top: 30px;
	border-radius: 9px;
	font-weight: 900;

}
#blue-button:hover {
	background-color: #68EEF7;
	transition: all 0.5s ease-out;
	padding: 17px 47px;
}

#subtitle {
	font-family: Chivo;
	color: #404042;
	font-weight: bold;
	margin-left: 40%;
}

#container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	background-color: white;
	width: 228px;
	height: 315px;
	box-shadow: 0 0 16px rgb(0,0,0,0.1);
	border-radius: 4px;
	padding: 24px;
	margin: 8px;
	text-align: center;
}

.card img {
	width: 100%;
	border-radius: 4px;
	height: 180px;
	object-fit: cover;

}

.card h3 {
	color: #0CA5A3;
	font-family: Chivo;
	font-size: 19px;
	text-align: center;
}

.card p {
	font-family: Overpass;
	color : #40442
	font-size : 18px;
	text-align: center;
}

.Video {
	background-color: #0CA5A3;
	height: 315px;
	box-shadow: 0 0 16px rgb(0,0,0,0.1);
	border-radius: 4px;
	padding: 24px;
	margin: 18px;
	justify-content: space-around;
}
#vod2 {
	padding-left: 190px;
}

#Tuto {
	background-color: white;
	height: 50px;
	box-shadow: 0 0 16px rgb(0,0,0,0.1);
	border-radius: 4px;
	padding: 24px;
	margin: 18px;
}

#Tuto p {
	font-family: Chivo;
	color: #404042;
	font-weight: bold;
	margin-left: 40%;
	font-size: 24px;
}

#footer {
	height: 80px;
	background-color: gray;
	color: white;
	text-align: center;
	padding-top: 4%;
	margin-top: 40px;
	font-family: Overpass;
	font-size: 25px;
	font-weight: bold;
}

.card a {
	color: #0CA5A3;
	font-family: Chivo;
	font-size: 19px;
	text-align: center;
	text-decoration: none;
}